#totals{
	position: relative;
	margin-left: 70%;
	margin-right: 20%;
	padding: 10px;
	text-align: centered;
}
#partFormCss{
	position: relative;
	left: 40%;
}
#creditCard{
	position: relative;
	height: 150px;
	width: 350px;
	left: 40%;
}
.cartIconPic{
	position: relative;
	left: 40%;
}
